<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<button type="button" class="p-3 bg-indigo-500">
    버튼
</button>

<div data-controller="posts">

    <input data-posts-target="name" type="text">
    <button type="button" data-action="click->posts#greet">test</button>
    <span data-posts-target="output"></span>


</div>

<div class="btn" data-controller="button" data-button-text="Click me!" data-button-variant="primary" data-button-size="large">안녕</div>
